$nav-height:4em;
$action-nav-width:40px;

$nav-bgcolor:#ccc;

$action-bar-bgcolor:#aaa;

/*==========Global units==========*/

main {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:30px ($action-nav-width + 30px) 30px 30px;
}

.unit-holder {
	display:none;
}

/*==========Nav units==========*/

nav {
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:$nav-bgcolor;

	&.side {
		
	}

	ul {
		list-style:none;
		height:100%;
		padding:0;
		margin:0;

		li {
			height:100%;
			display:inline-block;
			min-width:100px;
			text-align:center;
			padding:0 20px;
			vertical-align:middle;
			height:$nav-height;

			&:hover {
				background-color:#ddd;
			}

			a {
				color:#000;
				text-decoration: none;

				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}

.close {
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	z-index:5001;
}

.action-nav{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	background-color:#aaa;

	ul {
		list-style: none;
		padding:0;
		margin:0;

		li {
			width:$action-nav-width;
			height:$action-nav-width;
			line-height:$action-nav-width;
			font-size:1em;
			text-align:center;
			vertical-align: middle;
			border-bottom:1px solid ($action-bar-bgcolor - #222);
			
			&:hover{
				background-color:$action-bar-bgcolor + #222;
			}
		}
	}
}

/*==========Panel units==========*/

.panel--overlay {
	background:rgba(0,0,0,0.49);
	/*display: none;*/
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:4999;
}

.panel--close {
	position:absolute;
	top:10px;
	right:10px;
	display: block;
	width:20px;
	height:20px;
	line-height: 20px;
	cursor:pointer;
	font-family:sans-serif;
}

/*==========Formbuilder units==========*/
$section-handler-width:200px;

#template-edit {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#fff;
}

.formbuilder {
	margin-left:($section-handler-width+20px);
	margin-right:$action-nav-width+20px;
}

.new-field-bar {
	position:fixed;
	left:$section-handler-width;
	bottom:0;
	right:0;
	border-top:1px solid black;
	white-space:nowrap;
}

.new-field {
	width:120px;
	height:100px;
	margin:20px;
	border:1px dotted black;
	display: inline-block;
	vertical-align:top;
	position:relative;
	padding:1em;
	box-sizing:border-box;

	& > * {
		box-sizing:border-box;
		padding:0;
		width:100%;
	}

	&--handle {
		position:absolute;
		top:0px;
		left:0px;
		width:20px;
		height:20px;
		background:#000;
	}
}

.section-handler {
	position:absolute;
	top:0;
	left:0;
	width:$section-handler-width;
	bottom:0;
	background:#ccc;

	&--section {
		margin:0.5em 1em;
		padding:1em;
		width:calc(100% - 2em);
		box-sizing:border-box;
		border:1px solid black;
		background:none;

		&-add {
			border-top:1px dotted black;
			text-align:center;
			padding:10px 0;
		}
	}
}

.section-handler {
	&-section {
		min-height:40px;
		&.sectionSelected {
			background-color:#666;
			color:#fff;
		}
	}
}

/*==========Template Panel units==========*/
.formbuilder-controls {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:400px;
	text-align: center;
	background:#ddd;
	padding:2em;
}

.formbuilder-controls {
	
	.formbuilder-addfield {

		.field-preview {
			border:2px dashed #333;
			padding:2em;
			margin:1em 0;
		}
	}
}